* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "Courier New", Courier, monospace;
}

@font-face {
  font-family: "Norse-Bold";
  src: url(./Norse-Bold.otf);
}

aside {
  height: 100vh;
  width: 40%;
  background-image: url("./images/leaves.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

main {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
}
main section {
  height: 100%;
}

#heading,
#account {
  background-color: rgb(248, 248, 248);
}

#heading,
#account,
form {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
}

#heading {
  justify-content: flex-end;
  padding: 35px;
  font-size: 1.5rem;
  font-weight: bold;
}

#heading p:nth-child(3) {
  margin-top: 25px;
}

#account {
  justify-content: flex-start;
  padding-top: 35px;
  gap: 15px;
}

#odin-logo {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  width: 100%;
  margin-top: 25%;
  background-color: rgba(24, 24, 24, 0.5);
  display: flex;
  color: white;
  justify-content: center;
  font-size: 4rem;
  font-family: "Norse-Bold", "Times New Roman", Times, serif;
  align-items: center;
}

#odin-logo img {
  height: 90px;
}

aside > p {
  margin-top: auto;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  padding-top: 35px;
  padding-bottom: 35px;
}

.form-row,
.input {
  display: flex;
}

input {
  width: 250px;
  border-radius: 0.5rem;
  border: 0.25px solid #e5e7eb;
  padding: 10px;
  height: 25px;
}

.form-row {
  gap: 5rem;
}

.input {
  flex-direction: column;
  gap: 5px;
}

#password-validation {
  color: red;
  font-size: 0.8rem;
}

#account button {
  background-color: #596d48;
  color: white;
  font-size: 20px;
  padding: 20px 75px;
  border-radius: 0.5rem;
  border: unset;
  cursor: pointer;
  width: fit-content;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 1px solid blue;
  border-radius: 0.5rem;
  box-shadow: rgba(63, 63, 63, 0.35) 1px 2px 2px;
}

.hidden {
  display: none;
}
